html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*--------------
     Walls
---------------*/

.ui.table tr.wall,
.ui.table td.wall {
  -webkit-box-shadow: 0px 0px 0px #0C2D48 inset;
  box-shadow: 0px 0px 0px #0C2D48 inset;
}

.ui.table tr.wall,
.ui.table td.wall {
  animation: dwall 0.1s forwards;
}

@keyframes dwall {
  0% {
    background-color: white;
  }
  100% {
    background-color: #0C2D48;
  }
}

/*--------------
     Start Position
---------------*/

.ui.table tr.start,
.ui.table td.start {
  -webkit-box-shadow: 0px 0px 0px #FFA18A inset;
  box-shadow: 0px 0px 0px #FFA18A inset;
}

.ui.table tr.start,
.ui.table td.start {
  background: #FFA18A !important;
  color: #FFA18A !important;
}

/*--------------
     End Position
---------------*/

.ui.table tr.end,
.ui.table td.end {
  -webkit-box-shadow: 0px 0px 0px #FFCD69 inset;
  box-shadow: 0px 0px 0px #FFCD69 inset;
}

.ui.table tr.end,
.ui.table td.end {
  background: #FFCD69 !important;
  color: #FFCD69 !important;
}

/*--------------
     Path
---------------*/

.ui.table tr.path,
.ui.table td.path {
  -webkit-box-shadow: 0px 0px 0px #B4F8C8 inset;
  box-shadow: 0px 0px 0px #B4F8C8 inset;
}

.ui.table tr.path,
.ui.table td.path {
  animation: dpath 1s forwards;
}

@keyframes dpath {
  0% {
    background-color: white;
  }
  100% {
    background-color: #B4F8C8;
  }
}
